* {
  margin: 0px;
  padding: 0px; 
  box-sizing: border-box;
}

.cantener {
  display: flex;
  height: 100vh;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  width: 16%;
  height: 100%;
  background-color: #ffffff;
  gap: 10px; 
}

.rigthPanel {
  width: 84%; 
  height: 100%;
  background-color: #e2e5ec;
  padding: 20px; 
}

a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
}

.linkBtn {
  display: flex;
  justify-content: center;  
  align-items: center;      
  width: 100%;
  height: 40px;            
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;         
}

.linkBtn:hover {
  background-color: #eaf1f2;
}